<!DOCTYPE html>
<html>

<head>
  <title>Credentials</title>
  <script src="https://www.google.com/recaptcha/enterprise.js?render={{siteKey}}"></script>
</head>

<body>
  <h2>Credentials</h2>
  <div>
    <button id="execute-button">Execute</button>
    <input id="action-input" type="text" placeholder="Action" />
  </div>
  <br>
    <section>
      <h3>Please fill out this form:</h3>
      <form>
        <label for="firstName">First Name:</label>
        <input name="firstName" id="firstName" type="text" autocomplete="given-name">
        <br>

        <label for="lastName">Last Name:</label>
        <input name="lastName" id="lastName" type="text" autocomplete="family-name">
        <br>

        <label for="email">Email:</label>
        <input name="email" id="email" type="email" autocomplete="email">
        <br>

        <label for="username">Username:</label>
        <input name="username" id="username" autocomplete="username">
        <br>

        <button id="check-username">Check if username is available</button>
        <br>

        <label for="password">Password:</label>
        <input name="password" id="password" type="password" autocomplete="new-password">
        <br>

        <label for="action">Action:</label>
        <input name="action" id="action" type="text">
        <br>

      <input id="submit" type="submit" value="Submit" disabled="true"/>
      </form>
    </section>
  <br>
  <div id="response-from-promise"></div>

  <script>
    function showToken(id, token) {
      const el = document.getElementById(id);
      el.textContent = token;
    }
    function onSuccess(token) {
      showToken('response-from-promise', token);
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/server', false);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ 'g-recaptcha-response': token }));
    }
    function onError(reason) {
      alert('Response promise rejected: ' + reason);
    }
    grecaptcha.enterprise.ready(function () {
      document.querySelector('#execute-button').addEventListener('click', function () {
        var input = document.querySelector('#action-input');
        var action = input.value;
        input.value = '';
        grecaptcha.enterprise.execute('{{ siteKey }}', { action: action }).then(onSuccess).catch(onError);
      });
    });

  </script>
</body>

</html>