<!DOCTYPE html>
<html>
<head>
  <title>Credentials</title>
  <script src="https://www.google.com/recaptcha/enterprise.js?render={{siteKey}}"></script>
</head>
<body>
  <h2>Credentials</h2>
  <br>
  <section>
    <h3>Login form (application/json):</h3>
    <form id="login-form-json" method="POST">
      <label for="firstName">First Name:</label>
      <input name="firstName" id="firstName1" type="text" autocomplete="given-name">
      <br>
      <label for="lastName">Last Name:</label>
      <input name="lastName" id="lastName1" type="text" autocomplete="family-name">
      <br>
      <label for="email">Email:</label>
      <input name="email" id="email1" type="email" autocomplete="email">
      <br>
      <label for="username">Username:</label>
      <input name="username" id="username1" type="text" autocomplete="username">
      <br>
      <label for="password">Password:</label>
      <input name="password" id="password1" type="password" autocomplete="new-password">
      <br>
      <input id="submit-json" type="submit" value="Submit"/>
    </form>
  </section>
  <br>
  <section>
    <h3>Login form (application/x-www-form-urlencoded):</h3>
    <form id="login-form-urlencoded" method="POST">
      <label for="firstName">First Name:</label>
      <input name="firstName" id="firstName2" type="text" autocomplete="given-name">
      <br>
      <label for="lastName">Last Name:</label>
      <input name="lastName" id="lastName2" type="text" autocomplete="family-name">
      <br>
      <label for="email">Email:</label>
      <input name="email" id="email2" type="email" autocomplete="email">
      <br>
      <label for="username">Username:</label>
      <input name="username" id="username2" type="text" autocomplete="username">
      <br>
      <label for="password">Password:</label>
      <input name="password" id="password2" type="password" autocomplete="new-password">
      <br>
      <input id="submit-form" type="submit" value="Submit"/>
    </form>
  </section>
  <br>
  <div id="response-from-promise"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    function showResponse(id, resp) {
        const el = document.getElementById(id);
        if (el) {
            el.textContent = resp;
        } else {
            console.error("Element with ID '" + id + "' not found.");
        }
    }

    function onError(reason) {
        console.error('Response promise rejected: ' + reason);
        showResponse('response-from-promise', 'Error: ' + reason);
    }

    grecaptcha.enterprise.ready(function() {
        const loginForm = document.getElementById('login-form-json');

        loginForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username1').value;
            const password = document.getElementById('password1').value;

            grecaptcha.enterprise.execute('{{ siteKey }}', { action: 'login' })
                .then(function(token) {
                    // Send data to the backend.
                    fetch('/login', { // login is a dummy endpoint
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: username,
                            password: password,
                            'g-recaptcha-response': token
                        })
                    })
                    .then(response => {
                      if (response.ok) {
                        return response.json();
                      } else {
                        throw new Error('Network response was not ok.');
                      }
                    })
                    .then(data => {
                        if (data.success) {
                           showResponse('response-from-promise', "Login Success");
                        }
                        else {
                           showResponse('response-from-promise', 'Login failed: ' + data.message);
                        }
                    })
                    .catch(error => {
                        onError(error.message);
                    });
                })
                .catch(onError);
        });
    });


    grecaptcha.enterprise.ready(function() {
        const loginForm = document.getElementById('login-form-urlencoded');

        loginForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username2').value;
            const password = document.getElementById('password2').value;

            grecaptcha.enterprise.execute('{{ siteKey }}', { action: 'login' })
                .then(function(token) {
                    // Build the URL-encoded data.
                    const formData = new URLSearchParams();
                    formData.append('username', username);
                    formData.append('password', password);
                    formData.append('g-recaptcha-response', token);
                    // Send data to the backend.
                    fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: formData.toString()
                    })
                    .then(response => {
                      if (response.ok) {
                        return response.json();
                      } else {
                        throw new Error('Network response was not ok.');
                      }
                    })
                    .then(data => {
                        if (data.success) {
                           showResponse('response-from-promise', "Login Success");
                        }
                        else {
                           showResponse('response-from-promise', 'Login failed: ' + data.message);
                        }
                    })
                    .catch(error => {
                        onError(error.message);
                    });
                })
                .catch(onError);
        });
    });
});
  </script>
</body>
</html>