<!DOCTYPE html>
<html>

<head>
  <title>V3 Web Usage</title>
  <script src="https://www.google.com/recaptcha/enterprise.js?render={{siteKey}}"></script>
</head>

<body>
  <h2>V3 Web Usage</h2>
  <div>
    <button id="execute-button">execute()</button>
    <input id="action-input" type="text" placeholder="Action" />
  </div>
  <br>
  <script>
    function showResponse(id, resp) {
      const el = document.getElementById(id);
      el.textContent = resp;
    }
    function onSuccess(resp) {
      showResponse('response-from-promise', resp);
    }
    function onError(reason) {
      alert('Response promise rejected: ' + reason);
    }
    grecaptcha.enterprise.ready(function () {
      document.querySelector('#execute-button').disabled = false;
      grecaptcha.enterprise.execute(
        '{{ siteKey }}', {}).then(onSuccess, onError);
      });
    document.querySelector('#execute-button').addEventListener('click', function () {
      var input = document.querySelector('#action-input');
      var action = input.value;
      input.value = '';
      grecaptcha.enterprise.execute('{{ siteKey }}', {}).then(onSuccess).catch(onError);
      });
  </script>
</body>

</html>