node_modules/*
dist/*
pkg/*
bindings/**/dist/*
bindings/**/pkg/*
bindings/**/bin/*
bindings/**/node_modules/*
bindings/**/gen/*
bindings/**/.terraform*
bindings/**/terraform.tfstate*
.DS_Store
node_modules
coverage/
/blob-report/
integration/playwright/.cache/
integration/playwright-report/*
integration/test-results/*
