node_modules/*
dist/*
bindings/**/dist/*
bindings/**/pkg/*
bindings/**/bin/*
bindings/**/node_modules/*
.DS_Store
node_modules
coverage/
/blob-report/
integration/playwright/.cache/
integration/playwright-report/*
integration/test-results/*
