node_modules/*
dist/*
bindings/**/dist/*
bindings/**/pkg/*
bindings/**/bin/*
bindings/**/node_modules/*
.DS_Store
node_modules
coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
